integrasjon/dokumentkontrakter/src/main/xsd-original/foreldrepenger_000061.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:include schemaLocation="foreldrepenger_felles.xsd"/>

    <xs:element name="brevdata" type="brevdataType"/>

    <xs:complexType name="brevdataType">
        <xs:sequence>
            <xs:element type="fellesType" name="felles"/>
            <xs:element type="fagType" name="fag"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fagType">
        <xs:all>
            <xs:element type="behandlingsTypeKode" name="behandlingsType"/>
            <xs:element type="nonEmptyStringType" name="sokersNavn" minOccurs="0"/>
            <xs:element type="personstatusKode" name="personstatus" minOccurs="0"/>
            <xs:element type="relasjonskodeKode" name="relasjonskode"/>
            <xs:element type="behandlingsResultatKode" name="behandlingsResultat"/>
			<xs:element type="xs:boolean" name="overbetaling" minOccurs="0"/>
            <xs:element type="xs:date" name="mottattDato"/>
            <xs:element type="xs:integer" name="dekningsgrad"/>
            <xs:element type="xs:long" name="bruttoBeregningsgrunnlag"/>
            <xs:element type="xs:long" name="dagsats"/>
            <xs:element type="xs:long" name="månedsbeløp"/>
            <xs:element type="xs:date" name="stønadsperiodeFom" minOccurs="0"/>
			<xs:element type="xs:date" name="stønadsperiodeTom" minOccurs="0"/>
			<xs:element type="xs:date" name="dodsdato" minOccurs="0"/>
            <xs:element type="xs:long" name="totalBrukerAndel"/>
            <xs:element type="xs:long" name="totalArbeidsgiverAndel"/>
            <xs:element type="xs:integer" name="antallArbeidsgivere"/>
            <xs:element type="xs:boolean" name="annenForelderHarRett"/>
            <xs:element type="vurderingsstatusKode" name="aleneomsorg"/>
            <xs:element type="xs:boolean" name="ikkeOmsorg"/>
            <xs:element type="xs:integer" name="antallBarn"/>
            <xs:element type="xs:boolean" name="barnErFødt"/>
            <xs:element type="xs:boolean" name="fødselsHendelse"/>
            <xs:element type="xs:boolean" name="gjelderFoedsel"/>
            <xs:element type="xs:integer" name="dagerTaptFørTermin"/>
            <xs:element type="xs:integer" name="antallPerioder"/>
            <xs:element type="xs:integer" name="antallInnvilget"/>
            <xs:element type="xs:integer" name="antallAvslag"/>
            <xs:element type="xs:boolean" name="graderingFinnes" minOccurs="0"/>
            <xs:element type="xs:date" name="sisteDagIFellesPeriode" minOccurs="0"/>
            <xs:element type="xs:date" name="sisteUtbetalingsdag" minOccurs="0"/>
            <xs:element type="xs:date" name="sisteDagMedUtsettelse" minOccurs="0"/>
            <xs:element type="xs:integer" name="foreldrepengeperiodenUtvidetUker" minOccurs="0"/>
			<xs:element type="xs:boolean" name="besteBeregning" minOccurs="0"/>
            <xs:element type="periodeListeType" name="periodeListe"/>
            <xs:element type="xs:integer" name="disponibleDager"/>
            <xs:element type="xs:integer" name="disponibleFellesDager"/>
            <xs:element type="xs:date" name="sisteDagAvSistePeriode"/>
            <xs:element type="xs:long" name="seksG"/>
            <xs:element type="xs:boolean" name="inntektOverSeksG"/>
            <xs:element type="xs:integer" name="klageFristUker"/>
            <xs:element type="lovhjemmelType" name="lovhjemmel"/>
            <xs:element type="konsekvensForYtelseKode" name="konsekvensForYtelse"/>
            <xs:element type="xs:integer" name="antallBeregningsgrunnlagRegeler"/>
            <xs:element type="beregningsgrunnlagRegelListeType" name="beregningsgrunnlagRegelListe"/>
            <xs:element type="utbetaltKode" name="forMyeUtbetalt" minOccurs="0"/>
            <xs:element type="nonEmptyStringType" name="fritekst" minOccurs="0"/>
            <xs:element type="xs:boolean" name="inntektMottattArbgiver"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="periodeListeType">
        <xs:sequence>
            <xs:element type="periodeType" name="periode" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="periodeType">
        <xs:all>
            <xs:element type="xs:boolean" name="innvilget" minOccurs="0"/>
            <xs:element type="årsakKode" name="årsak"/>
            <xs:element type="xs:date" name="periodeFom"/>
            <xs:element type="xs:date" name="periodeTom"/>
            <xs:element type="xs:long" name="periodeDagsats" minOccurs="0"/>
            <xs:element type="xs:integer" name="antallTapteDager"/>
            <xs:element type="arbeidsforholdListeType" name="arbeidsforholdListe" minOccurs="0"/>
            <xs:element type="næringListeType" name="næringListe" minOccurs="0"/>
            <xs:element type="annenAktivitetListeType" name="annenAktivitetListe" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="arbeidsforholdListeType">
        <xs:sequence>
            <xs:element type="arbeidsforholdType" name="arbeidsforhold" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="næringListeType">
        <xs:sequence>
            <xs:element type="næringType" name="næring"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="annenAktivitetListeType">
        <xs:sequence>
            <xs:element type="annenAktivitetType" name="annenAktivitet" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="arbeidsforholdType">
        <xs:sequence>
            <xs:element type="xs:string" name="arbeidsgiverNavn"/>
            <xs:element type="xs:long" name="aktivitetDagsats" minOccurs="0"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
            <xs:element type="xs:integer" name="stillingsprosent"/>
            <xs:element type="xs:integer" name="utbetalingsgrad"/>
            <xs:element type="naturalytelseEndringTypeKode" name="naturalytelseEndringType" minOccurs="0"/>
            <xs:element type="xs:date" name="naturalytelseEndringDato" minOccurs="0"/>
            <xs:element type="xs:long" name="naturalytelseNyDagsats" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="næringType">
        <xs:sequence>
            <xs:element type="xs:long" name="aktivitetDagsats" minOccurs="0"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
            <xs:element type="xs:integer" name="sistLignedeÅr"/>
            <xs:element type="xs:long" name="inntekt1" minOccurs="0"/>
            <xs:element type="xs:long" name="inntekt2" minOccurs="0"/>
            <xs:element type="xs:long" name="inntekt3" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="annenAktivitetType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="aktivitetType" minOccurs="0"/>
            <xs:element type="xs:long" name="aktivitetDagsats" minOccurs="0"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lovhjemmelType">
        <xs:sequence>
            <xs:element type="xs:string" name="vurdering"/>
            <xs:element type="xs:string" name="beregning"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="beregningsgrunnlagRegelListeType">
        <xs:sequence>
            <xs:element type="beregningsgrunnlagRegelType" name="beregningsgrunnlagRegel" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="beregningsgrunnlagRegelType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="regelStatus"/>
            <xs:element type="xs:integer" name="antallArbeidsgivereIBeregning" minOccurs="0"/>
            <xs:element type="xs:integer" name="antallArbeidsgivereIBeregningUtenEtterlønnSluttpakke" minOccurs="0"/>
            <xs:element type="xs:boolean" name="besteBeregning" minOccurs="0"/>
            <xs:element type="xs:boolean" name="SNNyoppstartet"/>
            <xs:element type="andelListeType" name="andelListe"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="andelListeType">
        <xs:sequence>
            <xs:element type="andelType" name="andel" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="andelType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="status"/>
            <xs:element type="xs:string" name="arbeidsgiverNavn" minOccurs="0"/>
            <xs:element type="xs:long" name="dagsats"/>
            <xs:element type="xs:long" name="månedsinntekt"/>
            <xs:element type="xs:long" name="årsinntekt"/>
            <xs:element type="xs:long" name="sisteLignedeÅr" minOccurs="0"/>
            <xs:element type="xs:long" name="pensjonsgivendeInntekt" minOccurs="0"/>
            <xs:element type="xs:boolean" name="etterlønnSluttpakke" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="naturalytelseEndringTypeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="START">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STOPP">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN_ENDRING">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="behandlingsTypeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="FOERSTEGANGSBEHANDLING">
                <xs:annotation>
                    <xs:documentation>Førstegangsbehandling</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REVURDERING">
                <xs:annotation>
                    <xs:documentation>Revurdering</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KLAGE">
                <xs:annotation>
                    <xs:documentation>Klagebehandling</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="personstatusKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DOD">
                <xs:annotation>
                    <xs:documentation>Bruker som har søkt er død og brevet sendes til dødsboet</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ANNET">
                <xs:annotation>
                    <xs:documentation>Annet</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="relasjonskodeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MOR">
                <xs:annotation>
                    <xs:documentation>Brukeren har rolle som mor til barnet/barna</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAR">
                <xs:annotation>
                    <xs:documentation>Far</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MEDMOR">
                <xs:annotation>
                    <xs:documentation>Medmor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="behandlingsResultatKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INNVILGET">
                <xs:annotation>
                    <xs:documentation>Innvilget</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLÅTT">
                <xs:annotation>
                    <xs:documentation>Avslått</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPPHØR">
                <xs:annotation>
                    <xs:documentation>Opphør</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORELDREPENGER_ENDRET">
                <xs:annotation>
                    <xs:documentation>Foreldrepenger_endret</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN_ENDRING">
                <xs:annotation>
                    <xs:documentation>INGEN_ENDRING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vurderingsstatusKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="JA">
                <xs:annotation>
                    <xs:documentation>Er vurdert til ja (true)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEI">
                <xs:annotation>
                    <xs:documentation>Er vurdert til nei (false)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IKKE_VURDERT">
                <xs:annotation>
                    <xs:documentation>Er ikke vurdert</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="årsakKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="4020">
                <xs:annotation>
                    <xs:documentation>Denne skal komme hver gang bruker mister dager fordi søknaden er kommet inn for
                        sent og når det ikke er søkt om utsettelse, overføring av kvote eller gradering.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2001">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får 100% foreldrepenger. - Burde denne heller byttes ut
                        med en sjekk på "dekningsgrad = 100" ?
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2002">
                <xs:annotation>
                    <xs:documentation>§ 14-9: Innvilget fellesperiode/foreldrepenger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2003">
                <xs:annotation>
                    <xs:documentation>§ 14-12: Innvilget uttak av kvote/overført kvote</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2004">
                <xs:annotation>
                    <xs:documentation>§ 14-14, jf. § 14-13 : Innvilget foreldrepenger, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2005">
                <xs:annotation>
                    <xs:documentation>§ 14-15: Innvilget foreldrepenger ved aleneomsorg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2006">
                <xs:annotation>
                    <xs:documentation>§ 14-10: Innvilget foreldrepenger før fødsel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2007">
                <xs:annotation>
                    <xs:documentation>§ 14-10: Innvilget foreldrepenger, kun mor har rett</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2010">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. ferie.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2011">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. 100% arbeid.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2012">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. innleggelse i
                        helseinstitusjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2013">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker får utsatt foreldrepengene pga. at barnet er innlagt i
                        helseinstitusjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2014">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker får utsettelse pga. bruker er syk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2015">
                <xs:annotation>
                    <xs:documentation>§ 14-11 første ledd bokstav a, jf. § 14-14, jf. § 14-13: Utsettelse pga. ferie,
                        kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2016">
                <xs:annotation>
                    <xs:documentation>§ 14-11 første ledd bokstav b, jf. § 14-14, jf. § 14-13: Utsettelse pga. 100%
                        arbeid, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2017">
                <xs:annotation>
                    <xs:documentation>§ 14-11 første ledd bokstav c, jf. § 14-14, jf. § 14-13: Utsettelse pga. sykdom,
                        skade, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2018">
                <xs:annotation>
                    <xs:documentation>§ 14-11 første ledd bokstav c, jf. § 14-14, jf. § 14-13: Utsettelse pga. egen
                        innleggelse på helseinstiusjon, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2019">
                <xs:annotation>
                    <xs:documentation>§ 14-11 første ledd bokstav d, jf. § 14-14, jf. § 14-13: Utsettelse pga. barnets
                        innleggelse på helseinstitusjon, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2020">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor
                        ikke har rett til foreldrepenger. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag
                        på endringssøknad.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2021">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor
                        er innlagt i helseinstitusjon. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag på
                        endringssøknad.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2022">
                <xs:annotation>
                    <xs:documentation>
                        Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor er helt
                        avhengig av hjelp til å ta seg av barnet. Gjelder kun ved innvilgelse, helt eller delvis og ved
                        avslag på endringssøknad.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2023">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor
                        har overtatt omsorgen for barnet. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag
                        på endringssøknad.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2030">
                <xs:annotation>
                    <xs:documentation>§ 14-9, jf. § 14-16: Gradering av fellesperiode/foreldrepenger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2031">
                <xs:annotation>
                    <xs:documentation>§ 14-12, jf. § 14-16: Gradering av kvote/overført kvote</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2032">
                <xs:annotation>
                    <xs:documentation>§ 14-15, jf. § 14-16: Gradering foreldrepenger ved aleneomsorg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2033">
                <xs:annotation>
                    <xs:documentation>§ 14-14, jf. § 14-13, jf. § 14-16: Gradering foreldrepenger, kun far har rett
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2034">
                <xs:annotation>
                    <xs:documentation>§ 14-10, jf. §14-16: Gadering foreldrepenger, kun mor har rett</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2036">
                <xs:annotation>
				<xs:documentation>§ 14-14 innvilgelse når bare far har rett og mor er ufør, og han bare søker om foreldrepenger tilsvarende fedrekvotens lengde.</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2037">
			<xs:annotation>
				<xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4005">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til
                        foreldrene, og søker er far eller medmor.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4090">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til en eller
                        begge foreldrene., og det er etter siste dag det ble utbetalt foreldrepenger.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4091">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til en eller
                        begge foreldrene, og det er etter siste dag med utsettelse.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4003">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke har omsorg for barnet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4012">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke har omsorg for barnet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4033">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. ikke avtalt
                        ferie.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4032">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når utsettelse pga. ferie til en selvstendig næringsdrivende er
                        avslått.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4040">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at barnet ikke er
                        innlagt.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4039">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at bruker ikke er
                        innlagt.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4037">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga.at bruker ikke
                        jobber 100%.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4030">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at bruker har søkt
                        om utsettelse for tidlig.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4031">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at bruker har søkt
                        om utsettelse for tidlig.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4038">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga.at bruker ikke er
                        helt avhengig av hjelp til å ta seg av barnet.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4504">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er søkt om gradering etter at barnet er født, men før det har
                        gått 6 uker etter fødsel.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4025">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på gradering fordi bruker jobber 100%.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4080">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får gradere fordi det er søkt for sent.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4501">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får gradere fordi det er søkt for sent.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4093">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får gradere fordi bruker ikke jobber.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4084">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er opplyst at den andre forelderen tar ut sin kvote.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4085">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er opplyst at den andre forelderen tar ut sin kvote.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4086">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er opplyst at den andre forelderen tar ut sin kvote.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4050">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke jobber.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4051">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke studerer.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4052">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke både jobber og
                        studerer.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4054">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke er innlagt i
                        helseinstitusjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4055">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke deltar i
                        introduksjonsprogrammet.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4056">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke deltar i
                        kvalifiseringsprogrammet.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4057">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke mottar uføretrygd.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4007">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er helt
                        avhengig av hjelp til å ta seg av barnet. Og det er mor som har søkt.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4053">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er helt
                        avhengig av hjelp til å ta seg av barnet. Og det er far eller medmor som har søkt.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4008">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er
                        innlagt.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4041">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på utsettelse pga. av uttak av ferie på
                        helligdager.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4023">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi har redusert foreldrepengene fordi bruker ikke har søkt om
                        gradert uttak, eller søkt for sent.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4081">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på utsettelse fordi bruker har søkt for sent.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4082">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på utsettelse fordi bruker har søkt for sent.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4092">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote til den andre forelderen
                        fordi vedkommende ikke har aleneomsorg for barnet.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4002">
                <xs:annotation>
                    <xs:documentation>Skal komme når hele stønadsperioden er brukt opp.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4061">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende
                        dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4062">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende
                        dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4063">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende
                        dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4064">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende
                        dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4065">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende
                        dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4094">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om å kombinere foreldrepenger med arbeid
                        på grunn av manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4074">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om å overta kvoten til den andre
                        forelderen på grunn av manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4066">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4067">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4068">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4069">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4070">
                <xs:annotation>
					<xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av manglende dokumentasjon.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		<xs:enumeration value="4072">
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4087">
			<xs:annotation>
				<xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4088">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4089">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av
                        manglende dokumentasjon.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4006">
                <xs:annotation>
                    <xs:documentation>§14-9 - Påkrevd stønadsperiode mangler</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4013">
                <xs:annotation>
                    <xs:documentation>§14-10 - Mor søker fellesperiode før 12 uker før termin/fødsel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4022">
                <xs:annotation>
                    <xs:documentation>§14-10 - Barnet er over 3 år</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4034">
                <xs:annotation>
                    <xs:documentation>§14-9 - Avslag utsettelse - ingen stønadsdager igjen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4035">
                <xs:annotation>
                    <xs:documentation>§14-11 Bare far rett, mor ikke i aktivitet under utsettelse</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4058">
                <xs:annotation>
                    <xs:documentation>§14-5 - Unntak for Aktivitetskravet, stebarnsadopsjon - ikke nok dager
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4059">
                <xs:annotation>
                    <xs:documentation>§14-13 - Unntak for Aktivitetskravet, flerbarnsfødsel - ikke nok dager
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4060">
                <xs:annotation>
                    <xs:documentation>§14-10 - Samtidig uttak - ikke gyldig kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4073">
                <xs:annotation>
                    <xs:documentation>Ikke rett til kvote fordi mor ikke har rett til foreldrepenger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
			<xs:enumeration value="4075">
				<xs:annotation>
					<xs:documentation>Ikke rett til kvote fordi mor ikke har rett til foreldrepenger</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
            <xs:enumeration value="4095">
                <xs:annotation>
                    <xs:documentation>Mor tar ikke alle 3 ukene før termin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4100">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4502">
                <xs:annotation>
                    <xs:documentation>Avslag graderingsavtale mangler - Ikke dokumentert</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lovhjemmelForVurderingKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="100000000">
                <xs:annotation>
                    <xs:documentation>Vedtaket er gjort etter folketrygdloven § 14-6.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lovhjemmelForBeregningKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1000000000">
                <xs:annotation>
                    <xs:documentation>Beregningen er gjort etter folketrygdloven § 14-7.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="statusTypeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ARBEIDSTAKER">
                <xs:annotation>
                    <xs:documentation>(AT) Arbeidsinntekt eller tilsvarende</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRILANSER">
                <xs:annotation>
                    <xs:documentation>(FL) Frilanser</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELVSTENDIG_NÆRINGSDRIVENDE">
                <xs:annotation>
                    <xs:documentation>(SN)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAGPENGER">
                <xs:annotation>
                    <xs:documentation>Dagpengemottaker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBEIDSAVKLARINGSPENGER">
                <xs:annotation>
                    <xs:documentation>AAP-mottaker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MILITÆR_ELLER_SIVIL">
                <xs:annotation>
                    <xs:documentation>Inntekt fra militær- eller siviltjeneste</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUKERSANDEL">
                <xs:annotation>
                    <xs:documentation>Ukjent innektskilde brukt i beregning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TILSTØTENDE_YTELSE">
                <xs:annotation>
                    <xs:documentation>Inntekt fra annen tilstøtende ytelse</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KUN_YTELSE">
                <xs:annotation>
                    <xs:documentation>Inntekt fra annen tilstøtende ytelse</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="konsekvensForYtelseKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="FORELDREPENGER_OPPHØRER">
                <xs:annotation>
                    <xs:documentation>FORELDREPENGER_OPPHØRER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_BEREGNING">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_BEREGNING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_UTTAK">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_UTTAK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_BEREGNING_OG_UTTAK">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_BEREGNING_OG_UTTAK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_FORDELING_AV_YTELSEN">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_FORDELING_AV_YTELSEN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN_ENDRING">
                <xs:annotation>
                    <xs:documentation>INGEN_ENDRING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="utbetaltKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="FERIE">
                <xs:annotation>
                    <xs:documentation>Bruker har hatt ferie kombinert med foreldrepenger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JOBB">
                <xs:annotation>
                    <xs:documentation>bruker har jobbet samtidig med foreldrepenger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GENERELL">
                <xs:annotation>
                    <xs:documentation>Begge overstående eller annen grunn til mulig for høy utbetaling
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN">
                <xs:annotation>
                    <xs:documentation>Ingen tekst om for mye utbetalt skal vises.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
